/*MENÚ*/
.menu{
    width: 130px; /*Ancho*/
    height: 20px; /*Alto*/
    align-items: flex-end;
    background: #008442; /*Verde oscuro*/
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background:  #008442; /*Verde oscuro*/
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #1cb45c; /*Verde claro*/
}